body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#google-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: stretch;
}