/*
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}
*/
.google-logo {
    display: flex;
    margin: auto;
    width: 70%;
    padding: 20px;
    padding-top: 40px;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    height: auto;
    align-items: center;
    justify-content: center;
}
#google-logo{
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    padding-top: 100px;
}
#google-logo:hover {
    height: auto;
    width: 105%;
    justify-self: center;
}
#search {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    padding: 20px;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    height: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
}
#search-bar {
    position: relative;
    width: 100%;
    height: 40px;
    border-style: solid;
    border-color: gray;
    border-radius: 25px;
}
.search-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 48%;
    padding: 20px;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    height: 40px;
    /*
    align-self: center;
    */
    align-items: center;
    justify-content: space-evenly;
}
button {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border: 1px thin;
    border-radius: 10px;
    /*
    width: 120px;
    height: 30px;
    background-color: #aaaaaa;
    */
}
button:hover {
    background-color: #6b6a6a;
}
.buttons {
padding: 20px;
border-style: solid;
border-color: transparent;
}


ul {
    list-style-type: none;
    margin: 0;
    margin-right: 0;
    padding: 0;
    /*
    width: 200px;
    background-color: #f0f0f0;
    overflow: auto;
    position: fixed;
    right: 0;
    height: 22.5%;
    width: 25%;
    */
    
}
/*
li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}
li {
    text-align: center;
    border-bottom: 1px solid #fff;
}
li a:hover {
    background-color: #616060;
    color: rgb(250, 250, 250);
}
*/
ul {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 2px 3px;
    font-size: 14px;
}
