body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.google-logo {
    display: flex;
    margin: auto;
    width: 70%;
    padding: 20px;
    padding-top: 20px;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    height: auto;
    align-items: center;
    justify-content: center;
}
#google-logo{
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    padding-top: 50px;
}
#google-logo:hover {
    width:120%;
    height:120%;
    background-color: #bb7441;
}
#search {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    padding: 20px;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    height: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
}
#search-bar {
    position: relative;
    width: 100%;
    height: 40px;
    border-style: solid;
    border-color: gray;
    border-radius: 25px;
}
.search-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 48%;
    padding: 20px;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    height: 40px;
    align-self: inherit;
    align-items: flex-start;
    justify-content: space-around;
}
button {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    align-content: center;
    background-color: #aaaaaa;
}
button:hover {
    background-color: #6b6a6a;
}
.buttons {
padding: 20px;
border-style: solid;
border-color: transparent;
}